/* Color pallet
blue = #006699
green = #339933
black - #000000
yellow = #ffcc33
orange = #ff3333

Start your CSS here */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Kumbh+Sans&family=Oswald:wght@300&family=Roboto&display=swap');

/* Add a black background color to the top navigation */
.topnav {
    background-color: #000000;
    display: flex;
    width: 100%;
    position: sticky;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }
  .active{
    text-decoration: underline;
  }
  .itemsHolder .active{
    text-decoration: underline;
  }  
  /* Style the links inside the navigation bar */
  .itemsHolder a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 5px;
    margin: 7px;
    text-decoration: none;
    font-size: 17px;
    transition: .5s ease-in-out;
  }
  /* Change the color of links on hover */
  .topnav a:hover {
    text-decoration: overline underline;
  }
    
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  .logo{
    background-color: none;
    
  }
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .itemsHolder a:not(:nth-child(0)) {display: none;}
    .itemsHolder a.icon {
      float: right;
      display: block;
      
    }
    .topnav{
      align-items: flex-start;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .itemsHolder.responsive {position: relative;}
    .itemsHolder.responsive a.icon {
      right: 0;
      top: 0;
      place-items: right;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: right;
    }
    .itemsHolder{
        display: flex;
        flex-direction: column-reverse;
        justify-content:flex-end;
        background: none;
    }
  }
.contain{
    justify-content: center;
    align-items: center;
    display: flex;
}

.dummy_page {
  height: 200px;
  width: 100%;
  background-color: #f0f0f0;
  text-align: center;
  box-sizing: border-box;
  padding: 60px 0px;
}
/* .indexBody{
  background-image: url("../images/columbusBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: alpha(opacity=10);
} */
.indexBody::after {
  content: "";
  background: url(../images/columbusBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
/* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #000;
  display: grid;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255, 255, 255, 0.4);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}
.footer .col ul a{
  text-decoration: none;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}
 
.footer .col ul li:hover {
  color: #ffffff;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #3c9df8;
  color: white;
}
.fa-youtube {
  background: #f82222;
  color: white;
}