//colors
$primary-blue:#006699;
$P-green:#339933;
$P-black:#000000;
$P-yellow:#ffcc33;
$P-orange:#ff3333;
sass src/styles:src/styles


body{
        smallImage{
            display: block;
            width:200px;
            margin: auto;
        }
        cardFD{
            width: 300px;
            background-color: aquamarine;
            text-align: center;
        }
        cardFD a{
            color: black;
            text-decoration: none;
            transition: all 1s ease;
        }
        cardFD a:hover{
            transition: all 1s ease;
        text-size-adjust: 10px;
        } 
}




